
.header-class {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 40px;
    gap: 40px;
    background-color: rgb(249, 228, 159);
}
.navbar {
    display: flex; 
    justify-content: center; 
    gap: 40px;
    padding-left: 100px;
}
.aulogo {
    border-radius: 100%;
    background-color: black;
}
.first-div {
    padding: 50px;
    min-height: 10vh;   /* ⭐ THIS IS THE KEY */
    
    background-image:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("./assets/images/auimage.jpg");

    
}
.para {
    color: #ffffff;
    font-size: 30px;
}

.title {
    color: white;
}

.btn {
    border-radius: 20px;
    padding: 10px;
    font-size: 50px;
    background-color: rgb(9, 147, 2);
    color: #ffffff;
}

.c-accordion-item__panel {
  display: none;
  margin-top: 15px;
}

.c-accordion-item__panel[aria-hidden="false"] {
  display: block;
}

/* rotate + icon */
.c-accordion-item__button[aria-expanded="true"] 
.c-accordion-item__icon {
  transform: rotate(45deg);
}

.c-accordion-item__icon {
  transition: transform 0.2s ease;
}

.wakaaa {
    padding: 20px;
    background-color: rgb(249, 228, 159);
}
.header-class {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 40px;
    gap: 40px;
}

.site-footer {
  
  padding: 60px 40px;
  font-family: serif;
  background-color: rgb(249, 228, 159);
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #444;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.footer-copy {
  font-size: 15px;
  color: #333;
}


