body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1eef5;
}

/* Header */
header {
    background-color: #003366;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

/* Background image section */
.banner {
    height: 280px;
    background-image: url('images/sup.jpg');
    background-size: cover;
    background-position: center;
}

/* Layout */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.content {
    flex: 3;
    background: rgb(227, 224, 230);
    padding: 20px;
    border-radius: 6px;
}

.sidebar {
    flex: 1;
    background: #eae9e9;
    padding: 20px;
    border-radius: 6px;
}

.sidebar a {
    text-decoration: none;
    color: #003366;
}

/* Footer */
footer {
    background-color: #d8d1d1;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer {
    background-color: #cad0d2;
    color: rgb(19, 16, 16);
    padding-top: 40px;
}

.mega-menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 10px 60px 35px;
    background: #cad0d2;
    flex-wrap: wrap;
    margin-top: 0;
}

/* Columns */
.mega-column {
    min-width: 180px;
}

.mega-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #111;
}

.mega-column a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 12px;
    font-size: 15px;
}

.mega-column a:hover {
    color: #4e477d;
}

/* Right-side buttons */
.mega-actions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.btn-outline {
    padding: 14px 22px;
    border: 2px solid #1a166b;
    color: #1a166b;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 230px;
}

.btn-outline:hover {
    background: #333360;
    color: white;
}

.footer-bottom {
    background-color: #cad0d2;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

h2{
    color: #00274e;
}
